.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.handle {
  background: #cb0825;
  padding: 10px;
  line-height: 2.5;
}

.card-title {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

.hhf {
  color: #171717b5;
}

.navigation {
  color: white !important;
}

.card-text {
  font-family: monospace;
}

.ig {
  color: #cb0825;
}

.heading-span {
  background-color: #0076a3d1;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.dropdown-item {
    background-color: #0075a3b0 !important;
    color: white !important;
}

.dropdown-menu {
  background-color: #68e90c2b !important;
}


.navbar {
    background-color: #e41616a6 !important;
}

.media-heading {
  font-family: 'Anton', sans-serif;
}

.paragraph {
  font-family: 'Lato', sans-serif;
}

.emphasis {
  color:#e41616 !important;
  font-family: 'Lobster', cursive;
}

.navbar > .bg-dark {
  background-color: #cb0926 !important;
}
.navbar {
  position: fixed;
  display: flex;
  background-color: #e90c0cc4;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 1;
  width: 100%; 
  margin: auto;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;

  position: fixed;
  top: 0;

  /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); */
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.conMain {
height: 130vh;
margin-top: 100px;
width: 100%;
box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
-12px 0 8px -4px rgba(31, 73, 125, 0.8);
box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
12px 0 15px -4px rgba(31, 73, 125, 0.8),
-12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.list-group-item {
  position: relative;
  display: block;
  color: white;
  padding: .75rem 1.25rem;
  background-color: #2887a126 !important;
  border: 1px solid rgba(0,0,0,.125);
}

.text {
  background-color: #167b9b61 !important;
  color: white !important;
  text-align: center;
}
Form {
  color: white !important;
}

.label {
  color: white !important;
}

.form-control:focus {
  color: white !important;
  background-color: #19afca6b !important;
  border-color: #80bdff !important;
  outline: 0;
}

.form-control {
  color: white !important;
  background-color: #19afca6b !important;
  border-color: white !important;
  outline: 0;
}

.a {
  color: #fff !important;
}

a {
  color: rgb(221, 11, 11) !important;
}

.insta {
  color: white;
}

.jumbotron {
  background-image: url("./inno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 8px solid #ffffffb5;
  border-top: 8px solid #ffffffa6;
}
.notice-is {
  /* background-image: url("./is.jpg"); */
  background-color: black !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #f7e300;
  border-top: 8px solid #0077a2;
}

.display-3 {
  letter-spacing: 20px !important;
}

.notice-one {
  /* background-image: url("./bg1.jpg"); */
  background-color: #000000cc !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid rgb(29, 29, 29);
  border-top: 8px solid rgb(29, 29, 29);
  border-radius: 0px !important;
}
.notice-sponsor {
  /* background-image: url("./sponsor.jpg"); */
  background-color: #000000b8 !important; 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid rgb(29, 29, 29);
  border-top: 8px solid rgb(29, 29, 29);
  border-radius: 0px !important;
}
.notice-inno {
  /* background-image: url("./inno.jpg"); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid rgb(29, 29, 29);
  border-top: 8px solid rgb(29, 29, 29);
  border-radius: 0px !important;
}
.notice-two {
  /* background-image: url("./bg2.jpg"); */
  background-color: #000000cc !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid rgb(29, 29, 29);
  border-top: 8px solid rgb(29, 29, 29);
  border-radius: 0px !important;
}
body {
  background-image: url("./bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.profile-pic {
  padding: 20px;
  border-radius: 100px;
  margin-right: 10px;
}

.Media {
  border-bottom: 2px solid rgb(29, 29, 29);
}

.footer-text {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
}

h1 {
  color: white !important;
}
.h1:hover{
  text-decoration: underline !important;
}

.h1-custom {
  text-decoration: underline !important;
  font-family: 'Anton', sans-serif;
}


.heading-horizon {
  background-color: #e80c0cf2;
  height: 6px;
  width: 200px;
}

.para {
  font-family: sans-serif;
}

.para2 {
  font-family: monospace;
}

.lead {
  color: #f9fbfc;
  font-family: 'Anton', sans-serif;
  font-variant-caps: all-petite-caps;
}

.lead-two {
  display: none !important;
}
.team {
  text-align: left;
}

.list-g {
  border-top: 6px solid #d0092b !important;
}


.card-header {
  color: white;
  font-weight: bold;
  font-family: impact;
  border-bottom-left-radius : 0px !important;
  border-bottom-right-radius : 0px !important;
  border-top-left-radius : 25px !important;
  border-top-right-radius : 25px !important;
  background-color: rgb(186 8 49) !important;
}
.alert-success {
  color: #e6eee8 !important;
  background-color:#00000087 !important;
  border-color: #c3e6cb !important;
}

.card {
  border-radius: 5px !important;
}



.card-footer {
  color: white;
  font-weight: bold;
  border-top-left-radius : 0px !important;
  border-top-right-radius : 0px !important;
  border-bottom-left-radius : 25px !important;
  border-bottom-right-radius : 25px !important;
  font-family: 'Anton', sans-serif;
  background-color: rgb(189 8 50 / 98%) !important;
}

.middleclass {
  border-top-left-radius : 0px !important;
  border-top-right-radius : 0px !important;
  border-bottom-left-radius : 0px !important;
  border-bottom-right-radius : 0px !important;
}

.tags {
  background-color: #151515cf;
  padding-right: 5px;
  padding-left: 5px;
}



.green {
  background-color: #38e90cce;
  padding-right: 5px;
  padding-left: 5px;
}

.orange {
  background-color: #e5e90cc4;
  padding-right: 5px;
  padding-left: 5px;
}

.blue {
  background-color: #0c35e9c4;
  padding-right: 5px;
  padding-left: 5px;
}

.black {
  background-color: #030303c4;
  padding-right: 5px;
  padding-left: 5px;
}

.dev-des {
  font-family: 'Secular One', sans-serif;
}

.visandmis {
  font-family: 'Anton', cursive;
  font-size: 25px;
}



.style {
  background-color: #e90c0cc4;
  padding-right: 5px;
  padding-left: 5px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .display-3 {
    letter-spacing: 4px !important;
    font-size: 2.5rem !important;
  }
  .card {
    margin: 10px !important;
  }

  .jumbotron {
    line-height: 2.5;
  }

  .lead {
    display: none;
  }

  .lead-two {
    display: block !important;
    font-size: 12px;
  }

  .dev-des {
    font-size: 20px;
  }
  
  .para2 {
    font-family: monospace;
    color: #d4cbcbc4;
}


  
}